<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Form Submitted</h1>
    <p><span th:text="${user.fullName}"></span></p>
    <p><span th:text="${user.age}"></span></p>
    <p><span th:text="${user.gender}"></span></p>
    <p><span th:text="${user.employed}"></span></p>
</body>
</html>